.section {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3a3737;
  
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 60px 20px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.message {
  font-size: 1.4rem;
  font-weight: 300;
  opacity: 0.9;
}
