.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
  height: 90px;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}


.logo {
  height: 55px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.menu a:hover {
  color: #d4af37;
}
